@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#churnReduction::-webkit-slider-thumb {
    width: 20px; /* Adjust width as necessary */
    height: 20px; /* Adjust height as necessary */
    background-color: blue; /* Change to your preferred color */
    border-radius: 50%; /* Makes the thumb round */
    appearance: none;
    position: relative;
}

#churnReduction::-webkit-slider-thumb::after {
    content: attr(data-value) '%';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Adjust color as necessary */
    font-size: 0.75rem; /* Adjust font size as necessary */
}